.contExplore {
    margin-top: 10px !important;
    width: 90%;
    margin: auto;
    position: relative;

}

.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

h4 {
    text-align: left;
}

.hExplore {
    text-align: center;
}

.spanExplore {
    margin-top: 10px;
}

