.contExplore {
    margin-top: 10px !important;
    width: 50%;
    margin: auto;
    position: relative;

}

.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

h6 {
    text-align: left;
}
.hExplore{
    text-align: center;
}